@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.woff?m82dpq") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=_icon-],
[class*=_icon-] {
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-envelope:before {
  content: "\e904";
}

._icon-github:before {
  content: "\e905";
}

._icon-linkedin:before {
  content: "\e906";
}

._icon-phone:before {
  content: "\e907";
}

._icon-telegram:before {
  content: "\e908";
}

._icon-eye:before {
  content: "\e9ce";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input,
textarea {
  width: 100%;
}

address {
  font-style: normal;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0e0e0e;
  color: #dac5a7;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 88.4375rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

.button {
  padding-inline: 1rem;
  padding-block: 0.625rem;
  text-transform: capitalize;
  border-radius: 0.125rem;
  background-color: #dac5a7;
  color: #0e0e0e;
}

.header {
  padding-block: 0.75rem;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: #0e0e0e;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
}
.header__actions {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  min-width: 3.125rem;
  font-family: "Caveat", cursive;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}
@media (max-width: 767.98px) {
  .social-list {
    gap: 0.75rem;
  }
}
.social-list__link {
  background-color: rgba(218, 197, 167, 0.05);
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  border-radius: 50%;
  padding: 0.625rem;
  font-size: 1.125rem;
  color: #dac5a7;
  text-align: center;
}

.about {
  position: sticky;
  top: 4rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.about__container {
  padding-block: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
}
.about__title {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: capitalize;
}
.about__text {
  max-width: 37.5rem;
  text-align: center;
  color: rgba(218, 197, 167, 0.6);
  font-size: 1.125rem;
  line-height: 1.2;
}

.porfolio {
  position: sticky;
  top: 4rem;
  min-height: calc(100svh - 4rem);
  padding-block: 1.25rem;
  background-color: #0e0e0e;
}
.porfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.625rem;
}
.porfolio__title {
  font-size: 1.75rem;
}
.porfolio__slider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.porfolio__slider.swiper {
  max-width: 100%;
  max-height: 100%;
  -webkit-padding-after: 2rem;
          padding-block-end: 2rem;
}
.porfolio__slider.swiper .swiper-slide {
  height: calc((100% - 20px) / 2) !important;
}
@media (max-width: 767.98px) {
  .porfolio__slider.swiper .swiper-slide {
    height: calc((100% - 10px) / 2) !important;
  }
}
.porfolio__slider.swiper .swiper-pagination {
  padding-block: 0.5rem;
  bottom: 0;
}
.porfolio__slider.swiper .swiper-pagination-bullet {
  width: 0.625rem;
  height: 0.625rem;
  --swiper-pagination-bullet-horizontal-gap: 1rem;
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  background-color: rgba(218, 197, 167, 0.6);
}
.porfolio__slider.swiper .swiper-pagination-bullet-active {
  background-color: #dac5a7;
}

.work-card {
  width: 100%;
  height: 100%;
  aspect-ratio: 682/365;
  background-color: rgba(218, 197, 167, 0.15);
  border: 0.0625rem solid rgba(218, 197, 167, 0.15);
  position: relative;
  font-size: 0;
  overflow: hidden;
}
.work-card::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  -webkit-backdrop-filter: blur(0);
          backdrop-filter: blur(0);
  -webkit-transition: background-color 0.4s, -webkit-backdrop-filter 0.4s;
  transition: background-color 0.4s, -webkit-backdrop-filter 0.4s;
  transition: backdrop-filter 0.4s, background-color 0.4s;
  transition: backdrop-filter 0.4s, background-color 0.4s, -webkit-backdrop-filter 0.4s;
}
@media (any-hover: hover) {
  .work-card:hover .work-card__actions, .work-card:hover .work-card__info {
    opacity: 1;
  }
  .work-card:hover .work-card__info {
    height: auto;
    overflow: visible;
    border: 0.0625rem solid rgba(218, 197, 167, 0.15);
    padding-block: 0.75rem;
  }
  .work-card:hover::after {
    -webkit-backdrop-filter: blur(0.125rem);
            backdrop-filter: blur(0.125rem);
    background-color: rgba(14, 14, 14, 0.3);
  }
}
.work-card__link {
  width: 100%;
  height: 100%;
}
.work-card__image {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  aspect-ratio: 682/365;
}
.work-card__actions {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
@media (max-width: 991.98px) {
  .work-card__actions {
    opacity: 1;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.5rem;
    padding-inline: 0.25rem;
    -webkit-padding-after: 0.25rem;
            padding-block-end: 0.25rem;
    opacity: 0.8;
  }
}
.work-card__info-link {
  background-color: rgba(218, 197, 167, 0.05);
  border: 0.0625rem solid #dac5a7;
  border-radius: 50%;
  padding: 1rem;
  font-size: 2.5rem;
  color: #dac5a7;
  text-align: center;
  -webkit-transition: color 0.4s, border-color 0.4s;
  transition: color 0.4s, border-color 0.4s;
}
@media (any-hover: hover) {
  .work-card__info-link:hover {
    color: #f9faf9;
    border-color: #f9faf9;
    background-color: rgba(218, 197, 167, 0.6);
  }
}
@media (max-width: 991.98px) {
  .work-card__info-link {
    padding: 0.1875rem;
    font-size: 1rem;
    background-color: rgba(14, 14, 14, 0.3);
  }
}
.work-card__info {
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  z-index: 2;
  width: 90.6432748538%;
  padding-inline: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  border-radius: 0.125rem;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(0.9375rem);
          backdrop-filter: blur(0.9375rem);
  opacity: 0;
  height: 0;
  overflow: hidden;
  padding-block: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.work-card__title {
  font-size: 1.25rem;
  font-weight: 600;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.work-card__title::first-letter {
  text-transform: uppercase;
}
.work-card__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: end;
  font-weight: 300;
  font-size: 0.875rem;
}