.about {
    position: sticky;
    top: toRem(64);
    flex-grow: 1;
    // .about__container

    &__container {
        padding-block: toRem(48);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .about__header

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(16);
    }

    // .about__title

    &__title {
        font-family: "Caveat", cursive;
        font-size: toRem(40);
        font-weight: 700;
        text-transform: capitalize;
    }

    // .about__text

    &__text {
        max-width: toRem(600);
        text-align: center;
        color: $textColorMuted;
        font-size: toRem(18);
        line-height: 1.2;
    }
}
.porfolio {
    position: sticky;
    top: toRem(64);
    min-height: calc(100svh - toRem(64));
    padding-block: toRem(20);
    background-color: $mainColor;
    // .porfolio__container

    &__container {
        display: flex;
        flex-direction: column;
        row-gap: toRem(10);
    }

    // .porfolio__title

    &__title {
        font-size: toRem(20);
        font-weight: 400;
    }

    // .porfolio__slider

    &__slider {
        flex-grow: 1;
        &.swiper {
            max-width: 100%;
            max-height: 100%;
            padding-block-end: toRem(32);

            & .swiper-slide {
                height: calc((100% - 20px) / 2) !important;
                @media (max-width: $mobile) {
                    height: calc((100% - 10px) / 2) !important;
                }
            }
            & .swiper-pagination {
                padding-block: toRem(8);
                bottom: 0;
            }
            & .swiper-pagination-bullet {
                width: toRem(10);
                height: toRem(10);
                --swiper-pagination-bullet-horizontal-gap: 1rem;
                border: toRem(1) solid $mutedBeige;
                background-color: $textColorMuted;
            }
            & .swiper-pagination-bullet-active {
                background-color: $textColor;
            }
        }
    }
}

.work-card {
    width: 100%;
    height: 100%;
    aspect-ratio: 682 / 365;
    background-color: $mutedBeige;
    border: toRem(1) solid $mutedBeige;
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        background-color: transparent;
        backdrop-filter: blur(0);
        transition:
            backdrop-filter 0.4s,
            background-color 0.4s;
    }

    // .work-card__link

    &__link {
        width: 100%;
        height: 100%;
    }

    // .work-card__image

    &__image {
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        object-position: top center;
        aspect-ratio: 682 / 365;
    }
    @media (any-hover: hover) {
        &:hover {
            & .work-card__actions,
            & .work-card__info {
                opacity: 1;
            }
            & .work-card__info {
                height: max-content;
                overflow: visible;
                border: toRem(1) solid $mutedBeige;
                padding-block: toRem(12);
            }
            &::after {
                backdrop-filter: blur(toRem(2));
                background-color: $mainColorTransperent;
            }
        }
    }
    @media (any-hover: none) and (pointer: coarse) {
        &:hover {
            & .work-card__actions,
            & .work-card__info {
                opacity: 1;
            }
            & .work-card__info {
                height: auto;
                overflow: visible;
                border: toRem(1) solid $mutedBeige;
                padding-block: toRem(6);
            }
            &::after {
                backdrop-filter: blur(toRem(2));
                background-color: $mainColorTransperent;
            }
        }
    }
    //work-card__actions
    &__actions {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 5;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: toRem(30);
        opacity: 0;
        transition: opacity 0.4s;
    }

    // .work-card__info-link

    &__info-link {
        background-color: $transperentBeige;
        border: toRem(1) solid $textColor;
        border-radius: 50%;
        padding: toRem(10);
        font-size: toRem(24);
        color: $textColor;
        text-align: center;
        transition:
            color 0.4s,
            border-color 0.4s;
        @media (any-hover: hover) {
            &:hover {
                color: $hoverText;
                border-color: $hoverText;
                background-color: $textColorMuted;
            }
        }
    }
    // .work-card__info

    &__info {
        position: absolute;
        left: 5%;
        bottom: toRem(16);
        z-index: 2;
        width: 90%;
        padding-inline: toRem(16);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: toRem(16) toRem(40);
        border-radius: toRem(2);
        background: $transperentWhite;
        backdrop-filter: blur(toRem(15));
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding-block: 0;
        transition: all 0.4s;
        @media (max-width: $tablet) {
            // display: none;
        }
        //work-card__title
        &__title {
            @include adaptiveValue("font-size", 20, 14);
            font-weight: 600;
            align-self: flex-start;
            &::first-letter {
                text-transform: uppercase;
            }
        }
        //
        &__description {
            flex-grow: 1;
            flex-shrink: 1;
            text-align: end;
            font-weight: 300;
            font-size: toRem;
        }
    }
}
